@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
    <input type="text" name="nome" @bind-value="@employee.Name" @bind-value:event="oninput"/>

    <p>
    Employee name: @employee.Name
    </p>

    <p>
        Employee department: @employee.Department.Name
    </p>

    <div style="border:solid 1px red">
     <select id="Item" class="form-control-sm" @bind="@Item">
        @foreach (var l in list)
        {
            @if (Item != null && String.Equals(l, Item, 
             StringComparison.OrdinalIgnoreCase))
            {
                <option selected value="@l">@l</option>
            }
            else
            {
                <option value="@l">@l</option>
            }
        }
    </select>
 </div>
 <p>@Item</p>
</div

@code {
    Employee employee = null;

    public IEnumerable<string> list = new List<string>()
    {
    "Item 1",
    "Item 2",
    "Item 3",
    "Item 4",
    "Item 5"
    };

    public string Item { get; set; } 

    protected override void OnInitialized()
    {
        base.OnInitialized();

        employee = new Employee
            {
                Age = 32,
                Department = new Department { Id = 1, Name = "Test" },
                Id = 1,
                IsActive = true,
                Name = "Caio"
            };
    }

    class Employee
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public Department Department { get; set; }
        public bool IsActive { get; set; }
    }

    class Department
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

}